.img-fluid {
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

section {
    margin-right: 110px;
    margin-left: 110px;
}

button {
    border-radius: 25px;
}

input {
    border-radius: 25px;
}