<div class="container">
    <!-- <img srcset="../assets/imgs/road-1200.png 1024w,
                ../assets/imgs/road-927.png 468w" sizes="(min-width: 1024px) 80vw, 100vw" class="img-fluid img-responsive" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: .7;"> -->
    <div class="dw">
        <!-- <h1 class="display-3 text-center">!Bienvenido!</h1> -->
        <div class="text-center"><img class="im" src="../assets/imgs/logo_nav.png" alt=""></div>
        <!-- <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Login</div>
            <div class="card-body">
                <h4 class="card-title">Soy BringMe Admin</h4>
                <p class="lead">
                    <a class="btn btn-secondary" href="" routerLink="/user/login" role="button">Ir al Login</a>
                </p>
            </div>
        </div> -->
    </div>